.feedContainer {
    padding-bottom: 60px;
    background-color: $branco;
    

    .postagem {

        .avatar {
            height: 32px;
            width: 32px;
            margin-right: 8px;
        }

        .cabecalhoPostagem {
            display: flex;
            align-items: center;
            padding: 0 12px;
            margin-bottom: 8px;



            strong {
                font-size: 12px;
                color: $cinza4;
            }
        }

        .fotoPostagem {
            img {
                width: 100%;
                height: auto;
                max-height: 360px;
                object-fit: cover;
            }
        }

        .rodapePostagem {
            padding: 5px 16px;
            

            strong.nomeUsuario {
                font-size: 12px;
                float: left;
                margin-right: 4px;
                color: $cinza4;
            }

            p.descricao {
                font-size: 12px;
                margin: 0 0 2px;
                color: $cinza4;

                .exibirDescricaoCompleta {
                    font-size: 12px;
                    color: $corPrimaria3;
                    margin-left: 4px;
                    cursor: pointer;
                }
            }

            .acoesPostagem {
                display: flex;
                align-items: center;
                margin-bottom: 6px;

                >img {
                    margin-right: 6px;
                    cursor: pointer;
                }

                .quantidadeCurtidas {
                    font-family: $fontLight;
                    font-size: 10px;
                    color: $cinza4;

                    strong {
                        font-size: 10px;
                        color: $cinza4;
                    }
                }
            }

            .comentariosPublicacao{
                max-height: 80px;
                overflow-y: auto;
            }
        }

        .containerFazerComentario {
            display: flex;
            padding: 0 12px;
            align-items: center;
            margin-bottom: 16px;

            textarea {
                resize: none;
                flex: 1;
                border: none;
                outline: none;
                font-size: 12px;
                color: $cinza2;

            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        padding-top: 8px;
       

        .postagem {

            .cabecalhoPostagem{
                cursor: pointer;
            }

            .avatar {
                height: 42px;
                width: 42px;
            }

            .containerFazerComentario{
                margin-top: 12px;

               .btnPublicacao{
                    background-color: transparent;
                    color: $corPrimaria;
                    outline: none;
                    border: none;
                    font-size: 12px;
                    cursor: pointer;
                
               } 
            }
        }
    }
}